@model Product

<div class="row">

    <div class="col-md-12">
        <div class="text-center">
            <h6 class="display-6">
                @Model.ProductName
            </h6>

            <img src="@Model?.ImageUrl" alt="@Model?.ProductName" class="img-fluid shadow rounded-3 my-3"/>
            <p class="lead text-danger">@Model.Price.ToString("c")</p>
        </div>
    </div>
</div>


@* @section Header{
<div>
<p>
Only For <b>Get</b> Header
</p>
</div>
} *@