@page "/getintouch"


<div class="text-center border my-5 rounded">
    <div class="display-5 ">Contact</div>
    <div class="lead mt-3">
        <i class="fa fa-phone text-primary"></i>
        <p>
            Alo 120 BTK Akademi Bilgi Ve Destek Hattı
        </p>

        <i class="fa-solid fa-address-book text-primary"></i>
        <p>
            Id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer.
        </p>
        
        <i class="fa-solid fa-envelope text-primary"></i>
        <p>
            Sitametconsectetur@email.com
        </p>
    </div>
</div>
